# ==============================
# ENTORNO VIRTUAL
# ==============================

venv/
.venv/


# ==============================
# PYTHON
# ==============================

__pycache__/
*.py[cod]
*$py.class


# ==============================
# BASE DE DATOS
# ==============================

*.db
*.sqlite
*.sqlite3


# ==============================
# VARIABLES DE ENTORNO
# ==============================

.env


# ==============================
# VISUAL STUDIO CODE
# ==============================

.vscode/


# ==============================
# WINDOWS
# ==============================

Thumbs.db
Desktop.ini


# ==============================
# LOGS
# ==============================

*.log


# ==============================
# ARCHIVOS TEMPORALES
# ==============================

*.tmp
*.temp